.cell {
  background: #eee;
  box-sizing: border-box;
  transition: background 200ms ease;
}

.cell.visited {
  background: #ccc;
}

.cell.finish {
  background: yellow;
}

.cell.current {
  background: red;
}

.cell small {
  font-size: 8px;
  position: absolute;
}

.b-e {
  border-right: 1px solid black;
}
.b-s {
  border-bottom: 1px solid black;
}
