.cell {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box;
  background: #999;
  transition: background 250ms, border-color 250ms;
  border: 1px solid #999;
}

.cell.visited {
  background: #888;
}

.cell.finish {
  background: yellow;
}

.cell.current {
  background: red;
}

.cell small {
  font-size: 8px;
  position: absolute;
}

.b-e { border-right-color: black; }
.b-s { border-bottom-color: black; }
