.maze {
  --border-width: 1px;
  --cell-size: 50px;
  --maze-size: 5;
  position: absolute;
  background: #999;
  width: calc(var(--cell-size) * var(--maze-size));
  height: calc(var(--cell-size) * var(--maze-size));
  transition: background 1s;
}

.maze.green {
  background: green;
}
.cell {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  box-sizing: border-box;
  background: #999;
  transition: background 250ms;
}

.cell.visited {
  background: #888;
}

.cell.current {
  background: red;
}

.cell small {
  font-size: 8px;
  position: absolute;
}

.b-e { border-right: 1px solid black; }
.b-s { border-bottom: 1px solid black; }
