.devtools {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}

.devtools.enabled .controls {
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.controls-group {
  display: flex;
}

.button {
  font-size: 12px;
  padding: .5em;
  color: white;
  background: #666;
  margin: .25em;
  cursor: pointer;
  transition: background 350ms ease;
}

.button.active {
  background: lime;
}