.maze {
  position: absolute;
  background: #999;
  width: 500px;
  height: 500px;
  transition: background 1s;
  --border-width: 3px;
}

.maze.green {
  background: green;
}
.cell {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
}

.cell.visited:before {
  background: #666;
}

.cell.current:before {
  background: tomato;
}

.cell:before {
  content: '';
  background: #999;
  width: 100%;
  display: block;
  height: 100%;
}

.b-e { padding-right: var(--border-width); }

.b-s { padding-bottom: var(--border-width); }

.b-t { padding-top: var(--border-width); }

.b-w { padding-left: var(--border-width); }
