.maze {
  position: absolute;
  background: #999;
  width: 500px;
  height: 500px;
  transition: background 1s;
}

.maze.green {
  background: green;
}
.cell {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
}

.cell:before {
  content: '';
  background: #999;
  width: 100%;
  display: block;
  height: 100%;
}

.b-e { padding-right: 1px; }

.b-s { padding-bottom: 1px; }

.b-t { padding-top: 1px; }

.b-w { padding-left: 1px; }
